extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let penid = toShow._id
    - let pen1 = toShow.pen1
    - let pen2 = toShow.pen2
    - let pen_cost = toShow.pen_cost
    - let actionid = "/resource/pens/" + penid
    script.
      let actionid = "#{actionid}"
    div
      div.row
        div(class='penAttr mr-3') penid is:
        div #{penid}
      div.row
        div(class='penAttr mr-3') pen1 is:
        div #{pen1}
      div.row
        div(class='penAttr mr-3') pen2 is:
        div #{pen2}
      div.row
        div(class='penAttr mr-3') pen_cost is:
        div #{pen_cost}
      button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
      script.
        function cancel() {
          // Go back to the home page for the costume collection
          window.location.href='/pen'
        }
        function deleteOnid() {
          console.log("starting delete")
          // delete first
          fetch(actionid, {
            method: 'DELETE' // Dont need a body for the delete
          }).then((resp) => {
            return resp.json(); // or resp.text() or whatever the server sends
          }).then((body) => {
            alert("Delete succeded")
            window.location.href='/pen'
            // TODO handle body
          }).catch((error) => {
            // TODO handle error
            alert("Delete failed " + error )
          });
        }
